# System
.DS_Store
._*
Thumbs.db

# Config
.env

# Editors
/.vscode

# Generated
.storage
*.log
app/mu-plugins
app/plugins/*
app/themes/*
app/upgrade
app/uploads
vendor/
wp

# Keep custom plugins and themes
!app/plugins/wlion-*
!app/themes/wlion
