// --------------------------------------------------
// variables
// --------------------------------------------------

$carousel-arrow-size: 50px;
$carousel-arrow-icon-width: 12px;
$carousel-arrow-icon-height: 2px;

$carousel-dots-height: 50px;
$carousel-dot-size: 12px;

// --------------------------------------------------
// base
// --------------------------------------------------

.carousel {
}

.carousel__slide {
  display: none;

  &:first-of-type,
  .slick-initialized & {
    display: block;
  }
}

// --------------------------------------------------
// slick styles
// --------------------------------------------------

.slick-slider {
  position: relative;
  display: block;
  user-select: none;
  touch-action: pan-y;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;

  &.slick-dotted {
    margin-bottom: $carousel-dots-height;
  }
}

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

// --------------------------------------------------
// slides
// --------------------------------------------------

.slick-slide {
  position: relative;
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;

  [dir='rtl'] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

// --------------------------------------------------
// arrows
// --------------------------------------------------

.slick-arrow {
  z-index: 10;
  position: absolute;
  top: 50%;
  width: $carousel-arrow-size;
  height: $carousel-arrow-size;
  line-height: $carousel-arrow-size;
  padding: 0;
  margin-top: -($carousel-arrow-size/2);
  text-align: center;
  text-indent: -999999px;
  background: rgba(0, 0, 0, 0.5);
  border: none !important;
  outline: none !important;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  transition: $global-transition-fast;

  &:hover {
    background: color('primary');
  }
  &:focus {
    @include focus;
  }

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    left: 50%;
    width: $carousel-arrow-icon-width;
    height: $carousel-arrow-icon-height;
    margin-top: -($carousel-arrow-icon-height/2);
    margin-left: -($carousel-arrow-icon-width/2);
    background: color('white');
    transform-origin: 0% 50%;
  }
  &::before {
    transform: rotate(-45deg) translate(0, $carousel-arrow-icon-height/2);
  }
  &::after {
    transform: rotate(45deg) translate(0, -($carousel-arrow-icon-height/2));
  }

  &.slick-hidden {
    display: none;
  }
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
  transform: rotate(180deg);
}

// --------------------------------------------------
// dots
// --------------------------------------------------

.slick-dots {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: -$carousel-dots-height;
  margin: 0;
  padding: 0;
  height: $carousel-dots-height;
  line-height: $carousel-dots-height;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;

    button {
      width: $carousel-dot-size;
      height: $carousel-dot-size;
      padding: 0;
      outline: none !important;
      background: transparent;
      border: solid 1px color('primary');
      border-radius: 50%;
      text-indent: -999999px;
      cursor: pointer;
      transition: $global-transition-fast;

      &:hover {
        background: color('primary');
      }
    }

    &.slick-active {
      button {
        background: color('primary');
        box-shadow: 0 0 0 3px rgba(color('primary'), 0.3);
      }
    }
  }
}
