// --------------------------------------------------
// base
// --------------------------------------------------

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  &.container--xs {
    max-width: 576px;
  }

  &.container--sm {
    max-width: 992px;
  }

  &,
  &.container--md {
    max-width: 1200px;
  }

  &.container--lg {
    max-width: 1440px;
  }

  &.container--xl {
    max-width: 1600px;
  }

  &.container--full {
    max-width: 100%;
  }
}
