// --------------------------------------------------
// switch
// --------------------------------------------------

.toggle__switch {
  &.toggle__switch--on {
  }
}

// --------------------------------------------------
// target
// --------------------------------------------------

.toggle__target {
  display: none;
  overflow: hidden;
  transition: height 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);

  &[data-toggle-target-transition='none'] {
    transition: none;
  }

  &[data-toggle-target-transition='fade'] {
    opacity: 0;
    visibility: hidden;
    transition: height 0.25s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &.toggle__target--showing,
  &.toggle__target--hiding {
    display: block;
    height: 0;
    overflow: hidden;
  }

  &.toggle__target--hidden {
    display: none;
  }

  &.toggle__target--visible {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
